{
  "extends": "react-app",
  "rules": {
    "no-extra-semi": 2,
    "indent": [
      2,
      4
    ],
    "semi": [2, "never"],
    "linebreak-style": [
      2,
      "unix"
    ],
    "quotes": [
      2,
      "double"
    ],
    "curly": 2,
    "no-trailing-spaces": 2,
    "space-before-blocks": 2,
    "strict": 2,
    "no-unused-vars": 0,
    "no-fallthrough": 0,
    "no-case-declarations": 0,
    "no-this-before-super": 2,
    "no-const-assign": 2,
    "constructor-super": 2,
    "spaced-comment": 2,
    "space-unary-ops": 2,
    "space-in-parens": 2,
    "space-before-function-paren": [2, "never"],
    "arrow-spacing": 2,
    "keyword-spacing": 2,
    "comma-dangle": [2, "always-multiline"],
    "react/prop-types": [2, {}],
    "no-console": 0
  }
}