body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.minesweeper__gameOver {
    color: red;
}
.minesweeper__victory {
    color: green;
}
.minesweeper__cell--hidden {
    cursor: pointer;
}